.article{
    width: calc(100% - 30px * 2);
    height: calc(200px - 22px * 2);
    padding: 22px 30px;
    border-radius: 8px;
    background-color: white;
}

.profile_box{
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.profile_image{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.name{
    color: black;
    font-weight: 400;
}

.major{
    color: var(--gray-600);
    font-size: 10px;
}

.content{
    height: 68px;
    margin-top: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 14px;
    color: #414141;
    line-height: 160%;
}

.post_info{
    margin: 12px 3px 0 0;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 8px;
}

.comment_box{
    display: flex;
    column-gap: 4px;
    align-items: center;
    color: var(--gray-300);
}

.comment_box > div {
    font-size: 14px;
}

.comment_icon{
    width: 15px;
    height: 14px;
}

.checked_icon{
    width: 14px;
    height: 13px;
    color: var(--green);
}

.check_icon{
    width: 14px;
    height: 13px;
    color: var(--gray-300);
}

.people_box{
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: var(--gray-300);
}

.full_people_box{
    color: var(--green);
}

.person_icon{
    width: 14px;
    height: 14px;
}

.total_people{
    font-size: 14px;
}