@font-face {
    font-family: 'Katuri';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.nav{
    padding: 0 20vw;
    height: 51px;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid var(--gray-300);
}

.nav > div{
    display: flex;
    align-items: center;
}

.title_box{
    column-gap: 24px;
}

.baro_logo{
    font-family: 'Katuri';
    font-size: 24px;
    font-weight: 600;
    color: var(--black);
}

.search_input{
    width: 202px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: var(--gray-100);
    padding: 6px 10px;
}

.button_box{
    column-gap: 18px;
}

.button_box > div{
    color: var(--gray-800);
}